<ion-header>
  <ion-toolbar>
    <ion-title>FlightSketch Account Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <form  #form="ngForm" (ngSubmit)="login(form)">
        <div padding>
            <ion-item>
                <ion-input name="email" type="email" placeholder="your@email.com" [(ngModel)]="email" required></ion-input>
            </ion-item>
            <ion-item>
                <ion-input (keyup.enter)="login(form)" name="password" type="password" placeholder="Password" [(ngModel)]="password" required></ion-input>
            </ion-item>
        </div>
        <div padding>
            <ion-button size="large" type="submit" expand="block">Login</ion-button>
        </div>
    </form>
</ion-content>
